{% extends 'base.html.twig' %}

{% block title %}CGU ActivCommerce{% endblock %}

{% block body %}

    {# partial title_section #}
    {{ include("partials/title_section.html.twig", { 'name': 'Conditions Générales d\'Utilisation'}) }}

    <div class="container">
        <h1 class="text-center">Conditions Générales d'utilisation du site ActivCommerce✅</h1>

        <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus eligendi quaerat numquam cumque eum quibusdam itaque laboriosam autem tempora, sunt excepturi saepe quia quasi dolor at, officiis perspiciatis debitis.
            Facilis eius veritatis quod ut, molestias aut nulla numquam incidunt praesentium tenetur assumenda obcaecati ea, hic fugit laborum. Expedita eveniet eius possimus omnis repellat alias incidunt. Porro consectetur fugiat velit!
            Expedita qui incidunt ullam perspiciatis. Tempore non esse aspernatur rerum deserunt deleniti id nulla impedit explicabo perspiciatis, nemo cum et commodi, eum doloremque laudantium quibusdam. Modi atque dignissimos corporis illum!
            Ratione ipsum sequi officiis recusandae odit nobis aliquam! Non iste dignissimos ex, repudiandae sapiente pariatur impedit maiores aspernatur dolores quo natus facere assumenda dolorum sed temporibus ad distinctio. A, pariatur.
            Corporis repellendus minus id tempora omnis ipsum suscipit nulla ipsa ut obcaecati ex, mollitia labore pariatur amet! Consequuntur molestias, totam non ad aliquam quidem expedita cumque ullam corporis architecto ab!
            Illo, magnam consequatur accusantium eaque a velit sit, quis perspiciatis dolores pariatur labore sequi et animi culpa aliquam quidem obcaecati blanditiis molestias, molestiae adipisci possimus. Nihil animi ducimus doloribus illum!
            Quasi dignissimos tempora quo facere odit, et eaque ad repudiandae beatae natus, architecto, veritatis cupiditate. Ea reprehenderit inventore similique dolor delectus minima totam minus enim nostrum labore, odit qui vel.
            Vel at exercitationem commodi eligendi. Rem error hic modi a ea eligendi unde ex, ullam natus dolorem rerum voluptatem omnis, accusamus veniam, tempore nam est! Nemo eaque soluta nostrum ullam!
            Adipisci, quae distinctio eveniet iusto fuga sunt veniam illum et voluptatum? Ipsum modi saepe accusantium, sed veniam molestias enim rerum fugiat pariatur illo officia magnam nisi perspiciatis perferendis sint illum?
            Ducimus sapiente cum ad velit, expedita, temporibus voluptatibus sunt soluta a qui cupiditate impedit saepe maxime ut quas consequuntur quae eaque quam quisquam similique! Veritatis dicta eaque perspiciatis vitae quidem.
            Placeat doloremque repellendus sunt quisquam cumque! Earum, amet, voluptas autem atque veniam dolores id corporis officia necessitatibus deserunt beatae repudiandae perspiciatis doloremque ipsum hic nostrum facere molestias dicta quidem quibusdam?
            Consectetur omnis, maxime blanditiis ipsa autem iure suscipit dignissimos nemo commodi officiis animi reiciendis temporibus. Corporis hic eius laboriosam beatae architecto quam dignissimos itaque non illo modi! Aut, velit magni.
            Autem, vitae? Cupiditate, voluptate. Tempora officiis iusto quas, ipsum blanditiis ducimus impedit voluptates tempore ut debitis quos incidunt unde quod! Dolorem iure modi odit odio quae. Optio dicta maxime voluptates?
            Accusamus, recusandae. Cupiditate labore, maiores, illo quaerat illum laborum optio, velit repudiandae ut quam totam nulla molestias laudantium magnam rerum corporis veritatis dolor iure aut eveniet esse quo? Quae, animi.
            Nemo possimus ipsam impedit corporis aliquid culpa ex deserunt? Sed consequuntur eos doloremque, sunt accusantium, quas, qui laboriosam quisquam illo tenetur molestiae unde. Eligendi, ea deleniti in nemo hic iste.
            Maxime dicta aliquid ratione magnam debitis? Voluptas sint commodi consectetur nam labore laborum ullam quisquam doloremque recusandae. Accusantium iure impedit, quae tempora, beatae laudantium cumque consequuntur ab dolorum eum doloremque?
            Sapiente ex et rem repudiandae, sit magnam nisi debitis autem cumque repellendus ab, temporibus expedita voluptas, quod perspiciatis aliquam aliquid. Distinctio explicabo assumenda expedita doloremque, temporibus repudiandae? Amet, hic ut?
            Tempore eaque voluptatibus, a corporis quaerat temporibus rem accusamus similique. Dolorum, reiciendis rerum nihil repellat, reprehenderit laudantium incidunt optio quibusdam unde, inventore provident. Nesciunt veritatis in voluptatem! Accusamus, quisquam illum.
            Repellat culpa aperiam minus nostrum, eum cum odit, quasi voluptates modi a perspiciatis labore dignissimos esse molestiae. Deserunt pariatur voluptate, consequuntur et enim illum eveniet facere voluptatem beatae eaque delectus.
            Sed pariatur alias maxime assumenda, eum rerum laborum voluptate nam asperiores doloremque omnis fugiat! Ducimus nam magnam, quasi tempore recusandae ex voluptatum quod molestiae ab, optio reiciendis quibusdam! Ducimus, quos?
        </p>
    </div>
{% endblock %}
